
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative;  */
  /* min-height: 100%; */
}

.header-picture {
  position: absolute;
  height: 275px;
  width: 100%;
  top: 0;
  background-image: url('../images/header-picture.jpg');
  background-size: cover;
  background-position: bottom;
  border: 2px solid ;
}

.h1-background {
  position:absolute;
  width: 160px;
  height: 8%;
  left: 0;
  right: 0;
  bottom: 3%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  text-align: center;
}

.main-top {
  position: relative;
  height: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-end; 
}

.h2-background {
  position: relative;
  display: table; 
  bottom: 30px;
  height: 3em;
  width: 160px;
  background-color: #f4a353; 
  text-align: center;
}

h2 {
  /* Aligne le texte verticalement au milieu */
  display: table-cell;
  vertical-align:middle;
  font-size: 1.5rem;
}

.separateur1 {
  position: relative;
  height: 50px;
  width: 20%;
  bottom: 20px;
}

.separateur2 {
  position: relative;
  height: 50px;
  width: 20%;
  bottom: 20px;
}

.ema-picture-background {
  display:flex ;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  padding: 5% 5%;
}

.ema-picture {
  display: block;
  max-height: 90%;
  max-width: 90%;
}

.presentation{
  height: 250px;
  padding: 10% 5%;
  text-align:left;
}

.carousel-background {
  left: 0;
  right: 0;
  margin: auto;
  padding: 5%;
  background-color:#f4a353;
}

#carouselExampleCaptions {
  /* border: 1px solid; */
 }

 .main-bottom {
  height: 100px;
}

.nav-link, .dropdown-item, h1, h2, h5, footer p, .copyright {
  color: white;
}

/* todo : change typo */
h1 {
  font-size: 1rem;
}

/*svg {
  fill: white;
}*/

#scroll_to_top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 13px;
  right: 13px;
  background-color: rgba(0, 0, 0,0.3);
}

#scroll_to_top:hover {
  background-color: rgba(0, 0, 0,0.5);
}



