
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative;  */
  /* min-height: 100%; */
}

.header-background {
  position: relative;
  height: 275px;
  width: 100%;
  /* top: 0; */
  background-image: url('../images/background-picture.jpg');
  background-size: cover;
  background-position: bottom;
  border: 2px solid ;
}

.h1-background {
    position:absolute;
    width: 160px;
    height: 8%;
    top: 88%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.carousel-background {
  /* position: relative; */
  /* max-height: 50%;  */
  /* width: 85%; */
  /* top: 400px; */
  /* left: 0; */
  /* right: 0; */
  /* margin: auto; */
  padding: 5%;
  /* background-color:#f4a353; */
}

#carouselExampleCaptions {
  /* position: relative; */
  border: 1px solid;
 }

footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
}

.nav-link, .dropdown-item, h1, h2, h5, footer p, .copyright {
  color: white;
}

/* todo : change typo */
h1 {
  font-size: 1rem;
}

/*svg {
  fill: white;
}*/